<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body bgcolor=#a9cce3>
<div style="text-align:center;">
	<h1>Crear Usuario</h1>
    
    <form th:action="@{/okLogin}" th:object="${usuario}" method="post">
        <p>Usuario:   <input type="text" th:field="*{user}" /></p>
        <p>Contraseña: <input type="password" th:field="*{pass}" /></p>
        <p><input type="submit" value="Enviar" /> <input type="reset" value="Resetear" /></p>
    </form>
	
</body>
</html>